* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
}

body {
    background-color: turquoise;
    color: navy;
}

table {
    color: green;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: green;
    border: 1px solid black;
    box-shadow: 15px 15px gray;
    padding: 2rem;
}

.slot {
    width: 90px;
    height: 90px;
    background: whitesmoke;
    border: solid gray;
    border-radius: 60%;
}

.reset {
    position: absolute;
    bottom:10vh;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid gray;
    width: 10rem;
    text-align: center;
}

img {
    position: absolute;
    height:200px;
    top: 45rem;
    right: 20px;
}